/* This is styling to all the elemnents on the page */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* The body element color is #d9dcd6 */
body {
    background-color: #d9dcd6;
}

/* This gives the header element its style. */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* The header element has a h1 tag with the following styling */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* header element includes a class element of seo with its styling */
header h1 .seo {
    color: #d9dcd6;
}

/* The header and nav element have the following styling */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* In the header element has an unordered list of elements with no list style */
header nav ul {
    list-style-type: none;
}

/* The header nav ul and li elements have a inline-block styling with a margin left of 25px */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* a element contains a specific color and no text-decoration */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Paragraph element has font-size of 16px */
p {
    font-size: 16px;
}

/* Hero id has specific styling below */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* float-left id has float to the left and margin-right of 25px */
.float-left {
    float: left;
    margin-right: 25px;
}

/* float-right id has float to the right and margin-left of 25px */
.float-right {
    float: right;
    margin-left: 25px;
}

/* content id has a width of 75%, display style of inline-block and margin-left of 20px */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* benefits id has the following styling */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}

/* benefit class has styling of margin-bottom of 32px and color #fffff */
.benefit {
margin-bottom: 32px;
color: #ffffff;
}

/* Consolidated into the .benefit class 

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
*/

/* benefit h3 class has a margin-bottom of 10px and text-align as center */
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Consolidation into .benefit h3 
}
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
*/

/* .benefit class has images set as display: block, margin at 10px auto and max-width at 150px */
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Consolidated all images to .benefit img class
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

*/

/* .contents class contains the following styling. */
.contents {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Consolidated into .contents class 

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
*/

/* .contents img contains max-height of 200px */
.contents img {
    max-height: 200px;
}

/* Consolidated these images to .contents img class
.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}
*/

/* .contents h2 class contains margin-bottom at 20px and font-size of 36px */
.contents h2 {
    margin-bottom: 20px;
    font-size: 36px;

}

/* Consolidated these classes and h2 into .contents h2 class
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
*/

/* class foot has padding of 30px with specific font-family and text aligned in center */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* footer h2 class has font-size of 20px */
.footer h2 {
    font-size: 20px;
}

